body{
    background-image: url('DIVISION.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.keys{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.key{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgba(240, 248, 255, 0.373);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all .07s;
}
.playing{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

kbd{
    font-size: 20px;
    color: aliceblue;
}

.sound{
    font-size: 14px;
    color: rgb(19, 19, 53);
    margin-top: 5px;
}